body{
    background-image: url(a62.png);
}
#wrapper{
  width: 960px;
  border: 5px solid black;
  margin: 1em auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: white;
}

header{
    color: white;
    background-color: black;
    grid-column:span 4;
    font-family: Helvetica, sans-serif;
    padding-left: 20px;
    margin: 20px;
}

h1{
    font-weight: normal;
}

nav {
    grid-column: span 1;
}
  
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
nav li {
    width: 220px;
}
  
nav li a {
    display: block;
    background-color: red;
    padding: 1em;
    color: white;
    text-decoration: none;
    margin: 0 0 20px 20px;
    font-family: Arial, Helvetica, sans-serif;
}

nav li a:hover{
    background-color: darkred;
}

main {
    grid-column: span 3;
    margin-right: 20px;
}

h2{
    font-family: Helvetica, sans-serif;
    border-bottom: 3px solid black;
}

main img{
    float: left;
    margin-right: 20px;

    border: 2px solid black;
    padding: 10px;
}

.bold{
    font-weight: bold;
}

main p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
}

main p a{
    color: red;
    font-weight: bold;
    text-decoration: none;
}

main p a:hover{
    color: blue;
    text-decoration: underline;
}

footer{
    background-color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    text-align: center;
    color: white;
    grid-column:span 4;
    padding-left: 20px;
    padding-right: 20px;
    border-top: 5px solid black;
}