body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(DeathStar.jpeg);
}

a:link{
    color: red;
}

a:visited{
    color: green;
}

a:hover{
    color: yellow;
}

h1{
    color: orange;
    background-color: black;
    font-style: italic;
    font-weight: normal;
}

.imgbox{
    border: 20px solid black;
    padding: 5px;
    background-color: yellow;
}

h2{
    color: orange;
    background-color: crimson;
    font-style: italic;
    font-weight: normal;
}

h3{
    color: orange;
    background-color: grey;
    font-style: italic;
    font-weight: normal;
}

p{
    color: white;
    background-color: black;
}

ul{
    color: white;
    background-color: black;
}

.major{
    color: white;
    background-color: blueviolet;
    text-align: center;
}

.audio{
    text-align: justify;
}

#course{
    color: pink;
    background-color: brown;
}

#contact{
    color: white;
    background-color: black;
}

.ital{
    color: aqua;
    background-color: darkred;
}