body {
  background-color: #999999;
}

#wrapper {
  margin: 24px auto;
  width: 1200px;
  border: 1px solid black;
  padding: 24px;
  background-color: black;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
}

header{
  color: white;
  background-color: gray;
  grid-column:span 12;
  font-family: 'Sedgwick Ave Display', cursive;
  padding-left: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px darkorchid;
  margin-bottom: 24px;
}

header a{
  text-decoration: none;
  font-family: 'Sedgwick Ave Display', cursive;
  color: white;
  font-weight: bold;
  transition: color 2.0s;
}

header a:hover{
  color: gold;
}

nav {
  grid-column: span 12;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  
}

nav li {
  width: 232px;
  display: inline-block;
  margin: 0;
  padding: 0;
  border-right: 4px solid black;
  background-color: gray;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

nav li a {
  display: block;
  
  padding: 1em;
  color: white;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  transition: background-color 1.0s, color 2.0s;
}

nav li a:hover{
  background-color: darkgray;
  color: gold;
}

main{
  grid-column: span 12;
}

h2{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: white;
  border-bottom: 3px solid white;
  padding-bottom: 5px;
}

p{
  color: white;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

i{
  text-align: right;
}

.aboutMe{
  color: white;
  text-align: center;
  size: 16px;
  grid-column: span 6;
}

main img{
  margin-right: 24px;
  grid-column: span 6;
  float: left;
  padding-bottom: 10px;
}

main ul{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: white;
  grid-column: span 2;

}

section{
  grid-column: span 12;

}

#myCarousel {
  margin-bottom: 24px;
  grid-column: span 12;
}

#myCarousel .f-carousel__slide {
  text-align: center;
  padding: 24px;
  background: #eee;
}


/* style for dummy columns, delete and replace with your own CSS */
.dummycolumn {
  background-color: rgba(255,0,0,.25);
  grid-column: span 1;
}
